/* Base */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  color: #434455;
  font-size: 16px;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* header */
.nav-header {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-contacts {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.address-contacts .link {
  color: #434455;
  font-style: normal;
}
.address-contacts .link:hover,
.address-contacts .link:focus {
  color: #404bbf;
}
.logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-slogan-header {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-slogan-footer {
  display: flex;
  width: 71px;
  height: 21px;
  flex-direction: column;
  justify-content: center;
  color: var(--cloud, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
/* hero image section */
.hero-section {
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  background: #2e2f42;
}
.title-hero-section {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.button {
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
}
.button:hover,
.button:focus {
  background: #404bbf;
}
.section-title,
.section-title-portfolio {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* section 1 */
.benefits-section {
  width: 1440px;
  background: #fff;
}
.benefits-title 
.title-img-portfolio-section {
  width: 264px;
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
/* section 2 */
.img-section {
  background: #fff;
}
.title-img-section {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.img-section-pic {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}
/* section 3 */
.title-people-section {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-people {
  background: var(--cloud, #f4f4fd);
}
.section-item {
  background: var(--white, #fff);
}
.text-people-section .section-text-img {
  color: var(--slate, #434455);
  font-weight: 400;
}
/* footer */
footer {
  background: var(--navyblue, #2e2f42);
}
.text-footer {
  color: var(--cloud, #f4f4fd);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
/* portfolio */
.button-portfolio {
  font-family: inherit;
  border: 1px solid #e7e9fc;
  background: #f4f4fd;
  color: #4d5ae5;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
}
.button-portfolio:hover,
.button-portfolio:focus {
  cursor: pointer;
  background: #f4f4fd;
  font-family: inherit;
  background: #404bbf;
  color: #fff;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;
}
